/* reseteo */
* {
    margin: 0;
    padding: 0;
}

.logo{
    border-radius: 10%;
}

.contenido{
    display:flex;
    justify-content: space-around;
    gap: 20px;
    padding: 120px 30px 40px;
}

.columna{
    background-color: gray;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    width: 30%;
}

.foto{
    width:70%

}